.button {
  margin-right: 15px;
}

.buttons {
  margin: 20px 0;
}

.button:last-child {
  margin: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.gif {
  /* margin: 20px 10px 0; */
  height: 250px;
  width: auto;
}

.gif, button {
  cursor: pointer;
}

.button {
  border: 1px solid rgb(134, 194, 214);
  background-color: lightblue;
  color: #fff;
  padding: 10px 15px;
}

.gifdiv {
  margin: 10px;
  float: left;
  border: 1px solid #eee;
}

.rating {
  margin: 10px 0;
  text-align: center;
}